:root {
    --shadow:0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body{
    font: poppins;
    margin: 1.5%;
}

.Card{
    display:grid;
    grid-template-columns: (auto-fit, minmax(16rem, 20rem));
    gap: 2rem;
    justify-content: start;
}


.CardInfo{
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: felx;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    transition: transform 200ms ease-in;
    position:absolute;
    top: 3%;
    left: 1.5%;
    width: 13.4%;
    height: 42.5%;
    
}

.CardRegistry{
    border: 1px solid #ffffff;
    overflow: hidden;
    box-shadow: var(--shadow);
    border-radius: 10px;
    display: felx;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    transition: transform 200ms ease-in;
    height: 115%;
    position:absolute;
    top: 49%;
    left: 1.5%;
    width: 13.4%;
    height: 48.5%;
    
}

.CardDetails{
    overflow: hidden;
    box-shadow: var(--shadow);
    position:absolute;
    top: 3%;
    left: 17%;
    width: 81.5%;
    height: 94.5%;


    border-radius: 10px;
    display: felx;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    transition: transform 200ms ease-in;
}
.Botones{
    position:absolute;
    top: 13%;
    left: 78%;
    width: 81.5%;
    height: 94.5%;
}

.Line1 {

    position:absolute;
    top: 40%;
    width: 100%;
    height: 3px;

    background-color: black;
  }

.Line2 {

    position:absolute;
    top: 44%;
    width: 100%;
    height: 3px;

    background-color: black;
  }
.PatientImg{
    height: 12rem;
    width: 100%;
    object-fit: cover;
    clip-path: circle();
    margin-top: 2rem;
}

.PatientName{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.PatientAge{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.PatientSex{
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.PatientRegistryT{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
}



.PatientRegistryA{
    font-size: 20px;
    margin-top:0px;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.central-table-view-patient {
    margin: auto;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: absolute;
    top: 38.2%;
    right: 10%;
  
  }

.list-item-patient:hover {
    transform: scale(1.01);
    transition: 0.2s;
  }


  .styled-table-patient {
    width: 100%;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    overflow-x: auto;
  }
  
  .styled-table-patient th,
  .styled-table-patient td {
      padding: 12px 15px;
      font-size: 18px;
  }
  
  .styled-table-patient tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
.list-item-patient:hover {
    transform: scale(1.01);
    transition: 0.2s;
  }


.styled-table-patient {
width: 100%;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
overflow-x: auto;
}

.styled-table-patient th,
.styled-table-patient td {
    padding: 12px 15px;
    font-size: 18px;
}

.styled-table-patient tbody tr {
border-bottom: 1px solid #dddddd;
}

.TestGraph {
    border: 1px solid #ffffff;
    height: auto;  
    width: 400px;
    margin: 10px;
}